.main-form__label {
  display: block; }
  .main-form__label--two {
    display: none; }
    .main-form__label--two-show {
      display: block; }

.main-form__select {
  width: 100%; }

.modal-dialog {
  max-width: 60%; }

.filter {
  display: none; }

.show {
  display: block !important; }

.list-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .list-filters__titles, .list-filters__list {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .list-filters__titles {
    border-right: 2px solid grey; }
  .list-filters__one {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-align: left; }
    .list-filters__one.active {
      background-color: grey;
      color: #fff; }
      .list-filters__one.active:hover {
        background-color: grey;
        color: #fff; }
    .list-filters__one:focus {
      outline: none; }
    .list-filters__one:hover {
      outline: none;
      background-color: lightgrey;
      color: #000; }
    .list-filters__one:active {
      background-color: grey;
      color: #fff; }
    .list-filters__one--active {
      background-color: darkgrey;
      color: #fff; }
  .list-filters__items {
    display: none; }
