<script>
	
$('.section ul.tabs').delegate('li:not(.current):not(.left)', 'click', function(e) {
	if ($(this).attr('data-href')!=undefined) {
		document.location = $(this).attr('data-href');
	} else {
		var bkm = $(this);
		var num = bkm.index();
		bkm.addClass('current').siblings().removeClass('current').parents('div.section').find('div.box').eq(num).fadeIn(150,function(){
		var func = 'bookmark_change(bkm, num)';
			try {
				eval(func);
			}
			catch(err) {}
		}).siblings('div.box').hide();
	}
});
</script>
<pre>
	div.section
		ul.tabs
			li.current
			li.left
			li.left.current
			li data-href=""
			li
		div.box
		div.box
		div.box
		div.box
		div.box
</pre>
При нажатии на элемент списка с без класса left и current, если у этого элемента указан data-href, происходит переход к метке в data-href. Если data-href не указан, этому элементу добавляется класс current, затем у соседних элементов в одном уровне удаляется класс current, затем в рожительском div с классом section, появляется div с классом box с порядковым номер элемента на который нажали запускается функция bookmark_change с проверкой на исключения, остальные соседние блоки div с классом box плавно скрываются. Данный блок для отображения вкладок.